@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.7em;
  opacity: 0;
  transition: opacity 0.5s ease-in;

  margin-top: 2em;
}

.parent {
  /*height: 100vh;
  justify-content: center;
  align-items: center;*/
  display: flex;
  line-height: 1.6;
  flex-direction: row;
  gap: 1em;
}


#form {
  display: flex;
  flex-direction: row;

  span {
    margin-left: auto;
  }
}

.flex-body {
  display: flex;
  gap: 1em;
  flex-direction: row;
  width: 100vw;

  .info {
    flex: 1;
    height: 20vh;
  }

}

.link-flex {

  margin-left: auto;
  text-align: right;
  display: flex;
  flex-direction: column;
}

a:hover {
  background-color: var(--foreground);
  color: var(--background);
}

button {
  cursor: pointer;
  
}

button:hover {
  background-color: var(--foreground);
  color: var(--background);
}

hr {
  border: none;
  border-top: 0.5px solid var(--foreground);
  margin: 2em 0;
}

h2 {
  margin-bottom: 1vh;
}

em {
  opacity: 70%;
}

/* MOBILE */

@media (max-width: 640px) {

}