@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.7em;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  margin-top: 2em;
  background-color: #0a0a0a;
}

.parent {
  /*height: 100vh;
  justify-content: center;
  align-items: center;*/
  display: flex;
  line-height: 1.6;
  flex-direction: row;
  gap: 1em;
}

#bronze {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  height: auto;

  img {
    max-width: 50%;
    width: 50vw;
    pointer-events: none;
  }
}

#form {
  display: flex;
  flex-direction: row;

  span {
    margin-left: auto;
  }
}

.flex-body {
  display: flex;
  gap: 1em;
  flex-direction: row;
  width: 100vw;

  .info {
    flex: 1;
  }

}

.link-flex {

  margin-left: auto;
  text-align: right;
  display: flex;
  flex-direction: column;
}

a:hover {
  background-color: var(--foreground);
  color: var(--background);
}

button {
  cursor: pointer;
  
}

button:hover {
  background-color: var(--foreground);
  color: var(--background);
}

hr {
  border: none;
  border-top: 0.5px solid var(--foreground);
  margin: 2em 0;
}

h2 {
  margin-bottom: 1vh;
}

em {
  opacity: 70%;
}

/* MOBILE */

@media (max-width: 640px) {
  #bronze img {
    max-width: 100%;
    width: 100%;
  }
}