@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.7em;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  margin: 1vh;
}

.parent {
  /*height: 100vh;
  justify-content: center;
  align-items: center;*/
  display: flex;
  line-height: 1.6;
  flex-direction: row;
  gap: 1em;
}

.homepage {
  display: flex;
  flex-direction: column;
  min-height: 98vh;
  align-items: flex-end;
  justify-content: space-between;
}

#footer {
  margin-top: auto;
}

#form {
  display: flex;
  flex-direction: row;

  span {
    margin-left: auto;
  }
}

.flex-body {
  display: flex;
  gap: 1em;
  flex-direction: row;
  width: 100%;

  .info {
    flex: 1;
  }

}

.link-flex {
  white-space: nowrap;
  margin-left: auto;
  text-align: right;
  display: flex;
  flex-direction: column;
}

a {
  cursor: pointer;
}

a:hover {
  background-color: var(--foreground);
  color: var(--background);
}

button {
  cursor: pointer;
  
}

button:hover {
  background-color: var(--foreground);
  color: var(--background);
}

#inverting-overlay {
  /* Position the overlay fixed to the viewport */
  position: fixed;
  transform: translate(-100%, 0%);
  transition: transform 0.5s ease-in-out;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  mix-blend-mode: difference;
  background-color: white;
  z-index: 10;

}


hr {
  margin-top: 1vh;
}
h2 {
  margin-bottom: 1vh;
}

em {
  opacity: 70%;
}

/* ARCHIVE */

#archive-target {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.archive-page {
  
  position: absolute;
  margin-top: 25vh;
  margin-bottom: 1em;
  height: 100%;
  max-height: 74vh;
  width: 40vw;

  img {
    min-width: 25%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
  }

  
}

/* MOBILE */

@media (max-width: 640px) {
  .archive-page {
    width: 90vw;
  }
}